@using BaiTap_phan3.Models;
@model BaiTap_phan3.Models.NhanVien;

@foreach (NhanVien nv in ViewBag.PageResult.Data)
{   
    <tr id="@nv.Id">
        <td class="id">@nv.Id</td>
        <td class="hoVaTen">@nv.HoVaTen</td>
        <td class="ngaySinh">@nv.NgaySinh.ToString("dd-MM-yyyy")</td>
        <td class="dienThoai">@nv.DienThoai</td>
        <td class="phongBan" data-id="@nv.PhongBan.Id">@nv.PhongBan.TenPhongBan</td> 
        <td class="chucVu"data-id="@nv.ChucVu.Id">@nv.ChucVu.TenChucVu</td>
        <td class="btn-area">
            <button data-id=@nv.Id class="btn bg-warning m-1 edit-staff-btn" data-toggle="modal" data-target="#modal-edit-staff"
                >Sửa</button>
            <button data-id=@nv.Id class="btn text-light bg-danger m-1 delete-staff-btn" data-toggle="modal" data-target="#modal-remove-staff"
                >Xóa</button>
        </td>
    </tr>
}

<input type="hidden" id="hidden-totalpage" value =@ViewBag.PageResult.TotalPage />