@using BaiTap_phan3.Models;
@using static List<BaiTap_phan3.Models.PhongBan>;
@using System.Text.Json;
@model BaiTap_phan3.Models.NhanVien;

@{
    ViewData["Title"] = "Staff";
    ViewBag.message = "Staff-Detail";
}

@{
    <table class="table shadow" style="width: 300px">
        <tr>
            <td>Họ và tên: </td>
            <td>@Model.HoVaTen</td>
        </tr>
        <tr>
            <td>Ngày sinh: </td>
            <td>@Model.NgaySinh.ToString("dd-MM-yyyy")</td>
        </tr>
        <tr>
            <td>Số điện thoại: </td>
            <td>@Model.DienThoai</td>
        </tr>
        <tr>
            <td>Chức vụ: </td>
            <td>@Model.ChucVu</td>
        </tr>
        <tr>
            <td>Tên phòng ban: </td>
            <td>@Model.PhongBan.TenPhongBan</td>
        </tr>
    </table>
}