@using BaiTap_phan3.Models;
@using BaiTap_phan3.DTO;
@model BaiTap_phan3.Models.PageResult<NhanVienDto>;


@foreach (NhanVienDto nv in Model.Data)
{
    <tr id="@nv.Id">
        <td>@nv.Id</td>
        <td class="hoten">@nv.HoVaTen</td>
        <td class="ngaysinh">@nv.NgaySinh.ToString("dd-MM-yyyy")</td>
        <td>@nv.DienThoai</td>
        <td>@nv.ChucVu</td>
        <td data-id="@nv.PhongBan.Id">@nv.PhongBan.TenPhongBan</td>
        <td class="btn-area">
            <button class="btn bg-warning m-1 edit-staff-btn" data-toggle="modal" data-target="#container-staff-form"
                onclick="GiuMaNhanVien(@nv.Id)">Sửa</button>
            <button class="btn text-light bg-danger m-1" data-toggle="modal" data-target="#removeStaff"
                onclick="GiuMaNhanVien(@nv.Id)">Xóa</button>
        </td>
    </tr>
}

<input type="hidden" id="hahaa" value="@Model.TotalPage" />